	body {
		padding: 60px;
	}
	
	main {
		width: 800px;
		height: 500px;
		font-size: 0px;
		text-align: center;
	}

	.top {
		display: inline-block;
	}

	.green {
		height: 33.3%;
		width: 50%;
		background-color: green;
	}

	.blue {
		height: 33.3%;
		width: 50%;
		background-color: blue;
	}

	.bottom {
		display: inline-block;
	}

	.grey {
		height: 66.6%;
		width: 33.3%;
		background-color: grey;
	}

	.black {
		height: 66.6%;
		width: 33.3%;
		background-color: black;
	}

	.yellow {
		height: 66.6%;
		width: 33.3%;
		background-color: yellow;
	}